*{
    margin: 0;
    padding: 0;
}
#main {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
}

 form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
#main form input{
    width: 60px;
    width: 40px;
    background-color: rgba(255, 250, 250, 0.938);
}
form .display input{
    text-align: right;
    flex: 1;
    color: rgb(48, 45, 45);
    
}
#main .color input{
    background-color: rgb(187, 198, 199);
    margin-top: .5vh;
    color: white;
    box-sizing: border-box;
    background-color: rgb(51, 51, 51);
}
 form input#eql{
    width: 84px;

}